<p id="notice"><%= notice %></p>
<h1 >Parking Lot Data</h1>
<h2 id='number'> How many spaces left in the lot:<h2>
<div id="center">
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tr>
    <% @spaces.each do |s| %>
      <td><%= s.total %></td>
    <% end %>
    </tr>

  </table>
</div>



<br>
