// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
#number {
border:3px;
background-color: white;

padding: 1em;
text-align: center;
}// You ca
#center {

  align: center;
}
#background {
  background-color: white;
  border: 3px;
  border-style: solid;
  border-color: orange;
}

#data {
  bottom: 10px;
}
 body {
   width: 60%;
   margin: auto;
   margin-top: 50vh;
   bottom: 0px;
   left: 55px;
   background-image: url("mamkparking.JPG");
   background-repeat: no-repeat;
   text-align: center;
 }
